<a href="https://colab.research.google.com/github/PATELOM925/Probabilistic-Models-and-Machine-Learning/blob/main/Week0_EECS6327_Python_Basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Python Basics: A Quick Review**


This is not a comprehensive review for python but just a quick highlight of some basic python syntaxes.

Reference:
[1] https://github.com/Asabeneh/30-Days-Of-Python

### **1. Python built-in functions and keywords**


In python we have lots of built-in functions. Built-in functions are globally available for your use. Some of the most commonly used python built-in functions are the following: `print()`, `len()`, `type()`, `int()`, `float()`, `str()`, `input()`, `list()`, `dict()`, `min()`, `max()`, `sum()`, `sorted()`, `open()`, `file()`, `help()`, and `dir()`.

In addition, python also reserves some keywords for its own syntax purpose. In order to show all reserved python keywords, you may run:

In [1]:
help('keywords')

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               class               from                or
None                continue            global              pass
True                def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield
break               for                 not

### **2. Operators**

1. Assignment operators: `=`, `+=`, `*=`, etc.
2. Arithmetic Operators: addition(`+`), subtraction(`-`), multiplication(`*`), division(`/`), modulus(`%`), floor division(`//`), exponentiation(`**`).
3. Comparison Operators: `==`, `!=`, `>`, `>=`, `<`, `<=`
4. Logical Operators: `and, `or`, `not

### **3. Strings**

In [2]:
greeting = 'Hello World'  # String could be  a single or double quote,"Hello, World"
print(greeting)           # Hello, World
print(len(greeting))

# slicing
print(greeting[3])
print(greeting[-1])
print(greeting[3:6])
print(greeting[0:10:2])
print(greeting[-3:])
print(greeting[::-1])

Hello World
11
l
d
lo
HloWr
rld
dlroW olleH

### **4. Lists**

In [3]:
vegetables = ['Tomato', 'Potato', 'Cabbage','Onion', 'Carrot']

print('Number of vegetables:', len(vegetables))
print(vegetables[1])
print(vegetables[-1])
print(vegetables[-3])

# slicing
print(vegetables[1:3])
print(vegetables[::2])

Number of vegetables: 5
Potato
Carrot
Cabbage
['Potato', 'Cabbage']
['Tomato', 'Cabbage', 'Carrot']

In [16]:
# join two lists using +

fruits = ['banana', 'orange', 'mango', 'lemon']
vegetables = ['Tomato', 'Potato', 'Cabbage', 'Onion', 'Carrot']
fruits_and_vegetables = fruits + vegetables
print(fruits_and_vegetables)

print(fruits_and_vegetables.index('Tomato'))
print(fruits_and_vegetables[::-1])

# sort a list
fruits_and_vegetables.sort(
)
print(fruits_and_vegetables)

# reverse a list
fruits_and_vegetables.reverse()
print(fruits_and_vegetables)

print(fruits_and_vegetables[1].upper())

['banana', 'orange', 'mango', 'lemon', 'Tomato', 'Potato', 'Cabbage', 'Onion', 'Carrot']
4
['Carrot', 'Onion', 'Cabbage', 'Potato', 'Tomato', 'lemon', 'mango', 'orange', 'banana']
['Cabbage', 'Carrot', 'Onion', 'Potato', 'Tomato', 'banana', 'lemon', 'mango', 'orange']
['orange', 'mango', 'lemon', 'banana', 'Tomato', 'Potato', 'Onion', 'Carrot', 'Cabbage']
MANGO

### **5. Tuples**

A tuple is a collection of different data types which is ordered and unchangeable (immutable).

In [17]:
fruits = ('banana', 'orange', 'mango', 'lemon')
print(fruits[1])
print(fruits[-1])
print(fruits[1:3])
print(fruits[-3:-1])

orange
lemon
('orange', 'mango')
('orange', 'mango')

### **6. Sets**

Set is a collection of unordered and unindexed distinct elements.

In [19]:
fruits = {'banana', 'orange', 'mango', 'lemon'}
print(len(fruits))

4

### **7. Dictionaries**

A dictionary is a collection of unordered, modifiable(mutable) paired (key: value) data type.

In [20]:
# syntax
empty_dict = {}
# Dictionary with data values
dct = {'key1':'value1', 'key2':'value2', 'key3':'value3', 'key4':'value4'}

print(len(dct))
print(dct['key2'])

dct['key2'] = 'value-one'  # modify the key2's value
print(dct['key2'])

dct['key5'] = 'value5' # add a new item
print(len(dct))

dct.pop('key1') # removes key1 item
del dct['key2'] # removes key2 item
print(len(dct))


keys = dct.keys()   # obtain all keys
print(keys)

values = dct.values()  # obtain all values
print(values)

4
value2
value-one
5
3
dict_keys(['key3', 'key4', 'key5'])
dict_values(['value3', 'value4', 'value5'])

### **8. Control and Conditions**

(8.1) `if` conditions

In [21]:
a = 0
if a > 0 and a % 2 == 0:
        print('A is an even and positive integer')
elif a > 0 and a % 2 != 0:
     print('A is a positive integer')
elif a == 0:
    print('A is zero')
else:
    print('A is negative')

A is zero

(8.2) loops: `while` and `for`

In [22]:
count = 0
while count < 5:
    print(count)
    count = count + 1

0
1
2
3
4

In [23]:
numbers = [0, 1, 2, 3, 4, 5]
for number in numbers: # number is temporary name to refer to the list's items, valid only inside this loop
    print(number)

language = 'Python'
for letter in language:
    print(letter)

dct = {'key1':'value1', 'key2':'value2', 'key3':'value3', 'key4':'value4'}
for key in dct:
    print(key)

for key, value in dct.items():
    print(key, value) #

for number in range(11):   # range()
    print(number)

0
1
2
3
4
5
P
y
t
h
o
n
key1
key2
key3
key4
key1 value1
key2 value2
key3 value3
key4 value4
0
1
2
3
4
5
6
7
8
9
10

### **9. Functions**

In [24]:
def add_two_numbers (num1, num2):
    total = num1 + num2
    return total
print(add_two_numbers(2, 3))

def calculate_age (current_year, birth_year):
    age = current_year - birth_year
    return age;
print('Age: ', calculate_age(2019, 1819))

5
Age:  200

### **10. Some python's own syntaxes**

   (10.1) List Comprehension

In [25]:
language = 'Python'

lst = [i for i in language]

print(lst)

squares = [i * i for i in range(11)]
print(squares)

numbers = [(i, i * i) for i in range(11)]    # make a list of tuples
print(numbers)

['P', 'y', 't', 'h', 'o', 'n']
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
[(0, 0), (1, 1), (2, 4), (3, 9), (4, 16), (5, 25), (6, 36), (7, 49), (8, 64), (9, 81), (10, 100)]

     (10.2) Lambda Function

In [26]:
x = lambda param1, param2, param3: param1 + param2 + param3
print(x(1, 2, 3))

# Multiple variables
multiple_variable = lambda a, b, c: a ** 2 - 3 * b + 4 * c
print(multiple_variable(5, 5, 3))

6
22

### **11. Object-Oriented Programming in Python**


Review the syntax to define a class in python using `class`:
1. Define its member variables as `self.x`m `self.y`, etc...
2. Define some special fuunctions, such as `__init__()`, `__str()__`
3. Add more methods to the class as `def some_method(self, arg1, arg2, ...)`

In [27]:
class Point:
  """ Point class represents and manipulates x,y coords. """

  def __init__(self, x=0, y=0):
    """ Create a new point at the origin """
    self.x = x
    self.y = y

  def __str__(self): # All we have done is renamed the method
    return "({0}, {1})".format(self.x, self.y)

  def distance_from_origin(self):
    """ Compute my distance from the origin """
    return ((self.x ** 2) + (self.y ** 2)) ** 0.5

p = Point(3,4)
print(p.x, p.y)
print(p.distance_from_origin())


class Rectangle:
  """ A class to manufacture rectangle objects """

  def __init__(self, posn, w, h):
    """ Initialize rectangle at posn, with width w, height h """
    self.corner = posn
    self.width = w
    self.height = h

  def __str__(self):
    return "({0}, {1}, {2})".format(self.corner, self.width, self.height)

  def move(self, dx, dy):
    """ Move this object by the deltas """
    self.corner.x += dx
    self.corner.y += dy

box = Rectangle(Point(0, 0), 100, 200)
area = Rectangle(Point(100, 80), 5, 10)

print(box)
print(area)

box.move(10,20)
area.move(-20,-30)

print(box)
print(area)

3 4
5.0
((0, 0), 100, 200)
((100, 80), 5, 10)
((10, 20), 100, 200)
((80, 50), 5, 10)

### **Exercise**

1. Declare a list variable named it *companies* and assign initial values as *Facebook, Google, Microsoft, Apple, IBM, Oracle and Amazon*; Then Slice out the first 3 companies (and the last 3 companies) from the list; Remove the middle IT company or companies from the list.

2. Write and call your function ``factorial()``, which takes a whole number as a parameter and returns a factorial of the number.

In [33]:
#1
companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
first_three = companies[:3]
print(first_three)
last_three = companies[-3:]
print(last_three)
middle = companies[len(companies)//2]
print(middle)
companies.remove(middle)
print(companies)

['Facebook', 'Google', 'Microsoft']
['IBM', 'Oracle', 'Amazon']
Apple
['Facebook', 'Google', 'Microsoft', 'IBM', 'Oracle', 'Amazon']

In [35]:
#2
def factorial(n):
  if n<0:
    print('Enter a whole number')
  elif n==0:
    return 1
  else:
    x=1
    for i in range(x,n+1):
      x*=i
  return x

print(factorial(11))

39916800